@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Class="my-0" Style="@($"color:{Colors.LightGreen.Accent1}; background:{Colors.LightGreen.Lighten4}; ")">
        <MudLink Href="#">
            <MudImage Src="images\BBlogo.png" Width="180" Style="padding-left:60; padding:auto" Alt="Barakali Bozor Logosi" />
        </MudLink>
        <MudSpacer />

        <div style="width:150px">
            <MudSelect @bind-Value="@country" Variant="Variant.Text">
                <MudSelectItem Class="d-flex align-center flex-grow-1 gap-4" Value="@("Uzbek")">
                    <MudImage Src="images/uzbekistan.png" Width="25" /> Uzbek
                </MudSelectItem>
                <MudSelectItem Value="@("Russkiy")">
                    <MudImage Src="images/russia.png" Width="25" /> Russkiy
                </MudSelectItem>
                <MudSelectItem Value="@("English")">
                    <MudImage Src="images/united-kingdom.png" Width="25" /> English
                </MudSelectItem>
            </MudSelect>
        </div>

        @code {
        string country = "Uzbek";
        }

        <MudButton Style="@($" color:{Colors.Grey.Lighten5};margin-top:{10}; margin-bottom:{10}; background:{Colors.Green.Accent4};")">
            <MudIcon Style="padding-right:2;" Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Link="#"/>
            Profile
        </MudButton>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-0 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}